.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important; 
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card{

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.link{
    text-decoration: none  ;
}

.btns{
    display:flex;
    justify-content: space-evenly;
}